body {
  background: url("../Resources/Blue-Border.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;    
  justify-content: center;    
  align-items: center;    
  height: 100vh;              
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #1f2937;
}

i {
  font-size: 50px;
  color: #112b56;
}