body {
  background: url("../Resources/Blue-Border.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin: 0;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #1f2937;
}

.card {
  border-radius: 12px;
}

.card i {
  color: #ffffff;
}

.MensajeCampoRequerido,
.MensajeNombreNoValido,
.MensajeEmailNoValido,
.MensajeNumeroNoValido,
.MensajeEdadNoValida,
.MensajePasswordNoCoincide,
.MensajePasswordNoValido {
  display: none;
  color: red;
  font-size: 0.85rem;
}

#mensaje_perfil {
    font-weight: 600;
    margin-top: 10px;
}